// src/app/pages/player/player.component.scss
@font-face{
  font-family: 'fvf';
  src: url('../../../assets/fonts/lado.ttf') format("TrueType");
}

.mat-toolbar {
  background-color: '#000000';
  height: 100vh;
}

.container {
  justify-content: center;
  background-color: #FFFFFF;
  align-items: center;
  padding: 8pt;
}

.background {
  background-color: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  background-color: #FFFFFF;
  overflow: auto;
  border: 2pt solid black;
  box-sizing: border-box;
  padding-left: 8pt;
  padding-right: 8pt;

  .logo {
    text-align: center;
    font-size: 24px;
    color: white;

    .mat-icon {
      height: 160px !important;
      width: 160px !important;
      font-size: 160px !important;
      color: white;
    }
  }
}

.iicon {
  color: white;
}

.media-footer {
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;

  .media-action-bar {
    width: 100%;
    justify-content: center;
    background-color: #e6e6c8;

    .mat-icon {
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
    }
  }
}

.action-bar {
  background-color: #323232;
  margin-top: 16px;
  text-align: center;

  .mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
  }
}

.action-bar-button {
  background-color: white;
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  outline: none;
}

.smaller {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.center {}


.top-actions {
  background-color: #edf1f8;
  overflow: auto;
  border: 2pt solid black;
  box-sizing: border-box;
  margin-bottom: 8pt;
  padding: 8pt;
  border-radius: 3pt;
  max-width: 480pt;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.state-text {
  font-size: small;
  font-weight: normal;
  // color: #00b140;
  color: #000000;
  font-family: fvf;
  margin: auto;
}

.song-name {
  font-size: medium;
  font-weight: normal;
  // color: #00b140;
  color: #000000;
  font-family: fvf;
  margin: auto;
}

.lcd {
  // background-color: #1e1e1e;
  background-color: #a7aaa1;
  border-radius: 3pt;
  padding-right: 8pt;
  padding-left: 8pt;
  padding-top: 4pt;
  padding-bottom: 6pt;
  margin-bottom: 8pt;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  height: 100pt;
  overflow: hidden;
}

.bored-text {
  font-size: small;
  font-weight: normal;
  // color: #00b140;
  color: #000000;
  font-family: fvf;
  margin: auto;
}

.buttons {
  float: right;
  align-items: center;
}

.light {
  background-color: lightgray;
  width: 8pt;
  height: 8pt;
  border-radius: 4pt;
  margin-right: 8pt;
}

.display-h {
  height: 50pt;
  display: inline-block;
}

@media screen and (max-width: 768px) {
}

.green-light {
  box-shadow: 0 4px 8px 0 rgba(70, 247, 0, 0.8), 0 6px 20px 0 rgba(70, 247, 0, 0.8);
  background-color: rgb(70, 247, 0);
}

.red-light {
  box-shadow: 0 4px 8px 0 rgba(255, 1, 1, 0.8), 0 6px 20px 0 rgba(255, 1, 1, 0.8);
  background-color: rgb(255, 1, 1);
}