<!-- src/app/pages/player/player.component.html -->
<div class="container">
    <div class="background">
        <div class="content">
          <div class="logo">
            <div>My radio</div>
          </div>
          <mat-list color="primary">
            <h3 mat-subheader>Songs</h3>
            <mat-list-item *ngFor="let file of files; let i = index">
              <mat-icon mat-list-icon>music_note</mat-icon>
              <h4 mat-line>{{ file.name }}</h4>
              <mat-icon *ngIf="currentFile.index === i && !state?.error">volume_up</mat-icon>
              <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="action-bar">
          <button class="action-bar-button center" (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
            <mat-icon mat-list-icon>play_arrow</mat-icon>
          </button>
          <button class="action-bar-button center" (click)="pause()" *ngIf="state?.playing">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>
          <button class="action-bar-button center smaller" style="margin-left: 16px;" (click)="mute()">
            <mat-icon mat-list-icon>volume_off</mat-icon>
          </button>
        </div>
    </div>    
</div>
